<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change XHCI to XHC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDMQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change XHC1 to XHC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TFBDXw==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change LPC to LPCB</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename EC0 to EC (USB Power)</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixDisplay</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixDarwin7</key>
				<true/>
				<key>FixDarwin</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
				<key>FixWAK</key>
				<true/>
				<key>AddMCHC</key>
				<true/>
				<key>FixS3D</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>AddDTGP</key>
				<true/>
				<key>DeleteUnused</key>
				<true/>
				<key>AddPNLF</key>
				<true/>
				<key>FixHDA</key>
				<true/>
				<key>FixRegions</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>#SlpSmiAtWake</key>
			<true/>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>HaltEnabler</key>
		<true/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverHibernate</key>
		<true/>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>dart=0 darkwake=0 nv_disable=1</string>
		<key>CustomLogo</key>
		<false/>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>macOS</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>HD5</string>
			<string>Filevault</string>
			<string>Recovery</string>
			<string>Preboot</string>
			<string>HD4</string>
			<string>Legacy</string>
			<string>Install</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>ScreenResolution</key>
		<string>1366x768</string>
		<key>Scan</key>
		<true/>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Theme</key>
		<string>minimaldark</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>#FakeID</key>
		<dict>
			<key>#WIFI</key>
			<string>0x431214e4</string>
			<key>#IntelGFX</key>
			<string>0x01268086</string>
			<key>#LAN</key>
			<string>0x100E8086</string>
			<key>#SATA</key>
			<string>0x25628086</string>
			<key>#IMEI</key>
			<string>0x1e208086</string>
			<key>#ATI</key>
			<string>0x67501002</string>
			<key>#NVidia</key>
			<string>0x11de10de</string>
			<key>#XHCI</key>
			<string>0x0</string>
		</dict>
		<key>SetIntelBacklight</key>
		<false/>
		<key>#Properties</key>
		<string>7a00000001000000010000006e0000000200000002010c00d041030a0000000001010600001b7fff040028000000500069006e0043006f006e00660069006700750072006100740069006f006e00730000000800000001080100180000006c00610079006f00750074002d00690064000000080000000c000000</string>
		<key>SetIntelMaxBacklight</key>
		<false/>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>Inject</key>
			<string>Detect</string>
		</dict>
		<key>#Inject</key>
		<false/>
		<key>#SetIntelBacklight</key>
		<false/>
		<key>#AddProperties</key>
		<array>
			<dict>
				<key>Key</key>
				<string>AAPL,HasPanel</string>
				<key>Value</key>
				<data>AQAAAA==</data>
				<key>Device</key>
				<string>NVidia</string>
			</dict>
			<dict>
				<key>Audio</key>
				<dict>
					<key>Inject</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>Key</key>
				<string>AAPL,Haslid</string>
				<key>Value</key>
				<data>AQAAAA==</data>
				<key>Device</key>
				<string>NVidia</string>
			</dict>
		</array>
		<key>#ForceHPET</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaNoEFI</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IOGraphicsFamily.kext</string>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>something 'bout USB</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/kPDw==</data>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/k/Dw==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>something 'bout USB 3</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>#FakeCPUID</key>
		<string>0x010676</string>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelCpu</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>KbeBS-EXT (kuckkuck)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>6NQAAADrBeg=</data>
				<key>MaskFind</key>
				<data>/wD///////8=</data>
				<key>MaskReplace</key>
				<data>AAAAAAD///8=</data>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>6NQAAACQkOg=</data>
				<key>StartPattern</key>
				<data>AQAx/74UAAU=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>KbeBS-SIP (kuckkuck)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>6HXmDgCFwA+E+gAAAEmLRQ==</data>
				<key>MaskFind</key>
				<data>/wAAAP//////AP///////w==</data>
				<key>MaskReplace</key>
				<data>AAAAAAAAAP///////wAAAA==</data>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>6HXmDgCFwJCQkJCQkEmLRQ==</data>
				<key>StartPattern</key>
				<data>AgAAQb8BAADc</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>KbeBS-KxldUnmap (vit9696, kuckkuck)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>/4A9JZxOAAAPhRcBAABB</data>
				<key>MaskFind</key>
				<data>////AAAA/////wD/////</data>
				<key>MaskReplace</key>
				<data>AAAAAAAAAAD//wAAAAAA</data>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>/4A9JZxOAACQ6RcBAABB</data>
				<key>StartPattern</key>
				<data>SI0VKyYlAA==</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>LG6FMXRV</data>
		<key>BooterConfig</key>
		<string>0x0028</string>
		<key>CsrActiveConfig</key>
		<string>0x067</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>07/22/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP114.88Z.F000.B00.1907221754</string>
		<key>Board-ID</key>
		<string>Mac-06F11F11946D27C5</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02S3AYLG85YF2C1F</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>EfiVersion</key>
		<string>195.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xE80FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Memory</key>
		<dict>
			<key>Channels</key>
			<integer>2</integer>
			<key>SlotCount</key>
			<integer>2</integer>
		</dict>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro11,5</string>
		<key>SerialNumber</key>
		<string>C02S3AYLG85Y</string>
		<key>SmUUID</key>
		<string>40C82370-E226-5A06-8227-E3A30155E049</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>40C82370-E226-5A06-8227-E3A30155E049</string>
		<key>InjectSystemID</key>
		<true/>
		<key>ExposeSysVariables</key>
		<true/>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>#DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
		<string>VBoxExt4</string>
	</array>
</dict>
</plist>
